* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #FEF4DE;
    --primary-color: #7C4032;
    --secundary-color: #E6AF99;
    --font-title: 'Poppins', sans-serif;
}

body {
    background-color: var(--bg-color);
}